*{

box-sizing:border-box;

}

html*
<style>

*{
  box-sizing:border-box;
}

html,
body{
  width:100%;
  min-height:100%;
  margin:0;
  padding:0;
  -webkit-text-size-adjust:100%;
}

body{
  font-family:Arial,sans-serif;
  background:#f2f2f2;
  font-size:20px;
}

.container{
  width:100%;
  min-height:100vh;
  margin:0 auto;
  padding:15px;
  background:#fff;
  box-shadow:0 0 20px rgba(0,0,0,.15);
}

.header-image{
 display:block;
  width:100%;
  max-width:1000px;
  height:auto;
  margin:0 auto 20px auto;
}

h1{
  text-align:center;
  font-size:22px;
  margin-bottom:20px;
}

  input,
select{
 width:100%;
  padding:15px;
  margin-bottom:15px;
  font-size:18px;
  border:1px solid #ccc;
  border-radius:10px;
  background:#fff;
}

button{
  width:100%;
  padding:15px;
  border:none;
  border-radius:8px;
  background:#1976D2;
  color:white;
  font-size:24px;
  cursor:pointer;
}

button:disabled{
  background:#999;
}

.help-box{
  background:#f7f7f7;
  padding:15px;
  border-radius:8px;
  margin-bottom:15px;
}

  .signature-section {
  margin-bottom: 20px;
}

.signature-section strong {
  display: block;
  margin-bottom: 10px;
}

#signaturePad {
  width: 100%;
  height: 225px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background: #fff;
  margin-bottom: 10px;
  touch-action: none;
}

  /* TERMS */

.terms-section{
  margin:20px 0;
  
  padding:15px;
  border:1px solid #ddd;
  border-radius:8px;
  background:#fafafa;
}

.levelhelp-section{
  margin:20px 0;
  padding:15px;
  font-size:22px;
  border:1px solid #ddd;
  border-radius:8px;
  background:#fafafa;
}

.terms-text{
  font-size:12px;
  line-height:1.6;
  margin-bottom:15px;
  text-align:left;
}

.terms-boxtext{
  font-size:12px;
  line-height:1.6;
  margin-bottom:15px;
  text-align:left;
}

.terms-check{
  display:flex;
  align-items:flex-start;
  gap:15px;
  text-align:left;
}

.terms-check input[type="checkbox"]{
  width:26px;
  height:26px;
  min-width:26px;
  min-height:26px;
  margin-top:4px;
  flex-shrink:0;
}

.terms-check strong{
  font-size:12px;
  line-height:1.5;
}

</style>
